importFrom("grDevices", dev.off, pdf)
importFrom("graphics", lines, mtext, plot, points)
importFrom("stats", as.formula, cor, cov2cor, dnorm,
             model.matrix, na.omit, qnorm, quantile, rnorm)
importFrom("utils", capture.output, flush.console, memory.limit,
             write.csv2, write.table)
importFrom("future", makeClusterPSOCK)
importFrom("car", recode)
importFrom("gdata", write.fwf)
importFrom("plyr", rbind.fill, alply)
importFrom("date", as.date)
importFrom("Hmisc", wtd.table)
importFrom("sirt", equating.rasch, equating.rasch.jackknife, Q3)
importFrom("combinat", combn)
importFrom("eatRep", jk2.mean)
importFrom("eatTools", existsBackgroundVariables, removePattern, facToChar, crop, tableUnlist, removeNumeric, removeNonNumeric, asNumericIfPossible, halveString, item.logit, num.to.cat)
import(TAM)
import(reshape2)
import(parallel)
export(splitModels)
export(defineModel)
export(runModel)
export(getResults)
export(get.plausible)
export(get.wle)
export(get.prm)
export(get.itn)
export(get.shw)
export(get.dsc)
export(get.equ)
export(itemFromRes)
export(wleFromRes)
export(eapFromRes)
export(pvFromRes)
export(q3FromRes)
export(simEquiTable)
export(equat1pl)
export(transformToBista)
export(prepRep)
# export(createVeraItemtabForDB)
export(plotICC)
# export(replSpecSign)
# export(finalizeItemtable)
export(checkDesign)
