importFrom("stats", as.formula, cor, cov2cor, dnorm, model.matrix, na.omit, qnorm, quantile, rnorm, cov, var, pnorm)
importFrom("utils", capture.output, flush.console, memory.limit, write.csv2, write.table)
import(TAM)
import(parallel)
export(splitModels)
export(defineModel)
export(runModel)
export(getResults)
export(get.plausible)
export(get.wle)
export(get.prm)
export(get.itn)
export(get.shw)
export(get.dsc)
export(get.equ)
export(itemFromRes)
export(wleFromRes)
export(eapFromRes)
export(pvFromRes)
export(q3FromRes)
export(simEquiTable)
export(equat1pl)
export(transformToBista)
export(prepRep)
# export(createVeraItemtabForDB)
export(plotICC)
# export(replSpecSign)
# export(finalizeItemtable)
export(checkLinking)
export(plotDevianceConquest)
export(wleRelFromRes)
export(eapRelFromRes)
export(multiEquatError)
export(replaceLinkingError)
export(regcoefFromRes)
export(checkContextVars)
